body{
  background-color: #7C0B0B;
  color: #FFF;
}

.App {
  text-align: center;
}

h1 {
  text-decoration: overline;
}

img {
  background-color: #FFF;
  border-radius: 100px;
}

h2 {
  margin-top: 2em;
}

li {
  font-weight: bold;
  font-size: 1.5em;
}

p {
  font-size: 2em;
}